@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


*{
  font-family: "Inter", sans-serif;
  transition: all 0.3s ease;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@media(max-width:720px){
  .sideBar{
    position: fixed;
  }
}

@media(max-width:800px){
  .membersPage{
    padding: 12px;
  }
  .memebersGrid{
    gap: 12px;
  }
}